{% extends "layout.html" %}

{% block functions %}
    {{ super() }}
    <script id="conditionSourceCode" type="text/html">
        <br>
        {% with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)' %}
            {% include 'pickerGen.html' %}
        {% endwith %}
        {% with pickerName = 'condition', pickerElements = conditions, onChangeFunc='highlight(this)' %}
            {% include 'pickerGen.html' %}
        {% endwith %}
        {% if inputName %}<input name={{ inputName }} onchange="highlight(this)"> {% endif %}
    </script>
    <script id="logicalConnectionSourceCode" type="text/html">
        <br>
        {% with pickerName = logicalConnectionName, pickerElements = logicalConnections, onChangeFunc='highlight(this)' %}
            {% include 'pickerGen.html' %}
        {% endwith %}
    </script>
    <script>
        function addFilter() {
            var filter = '';
            if ($("#condition").length != 0) {
                filter += ($("#logicalConnectionSourceCode").html());
            }
            filter += $("#conditionSourceCode").html();
            $("#conditionsTag").append(filter);
        }

        function deleteFilters() {
            $('conditionsTag').each(function () {
                $(this).remove();
            });
            $("#pConditions").append("<conditionsTag id = \"conditionsTag\"></conditionsTag>");
            form = document.getElementById('filtersForm');
            form.submit();
        }

        function resetPage() {
            p = document.getElementById('{{ pagePickerName }}');
            p.value = 0;
            form = document.getElementById('filtersForm');
            form.submit();
        }
    </script>
{% endblock %}