<!DOCTYPE html>
<html lang="en">
<head>
    <title>Study Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/DataTables/datatables.min.css"/>
    <script type="text/javascript" src="../static/DataTables/datatables.min.js"></script>
    {% block functions %}
    {% endblock %}
</head>

<body>
{% block header %}
    <h1>
        <center>Study Shedule Application</center>
    </h1>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
