<div class="container" align="center">
    <h3>Select table to view:</h3>
    <form class="form-inline" method="GET" action="{{ pickerURL }}">
        <div class="input-group">
            <select name="{{ pickerName }}" class="selectpicker form-control">
                {% for i in pickerElements %}
                    <option value={{ i }}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">View Table</button>
    </form>
</div>