{% extends "filtersLayout.html" %}

{% block content %}
    <form id="filtersForm" class="form-inline" method="GET">
        Choose the x-coordinate grouping:
        {% with pickerName = xGroupingPickerName, pickerElements = pickerElements, selectedName = xName, onChangeFunc='highlight(this)' %}
            {% include 'pickerGen.html' %}
        {% endwith %}
        Choose the x-coordinate grouping:
        {% with pickerName = yGroupingPickerName, pickerElements = pickerElements, selectedName = yName, onChangeFunc='highlight(this)' %}
            {% include 'pickerGen.html' %}
        {% endwith %}
    Visible columns:
        {% with pickerName = visibleColumnsPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)', multiple = 1 %}
            {% include 'pickerGen.html' %}
        {% endwith %}
        <input type="checkbox" id="{{ hideHeadersCheckboxName }}" name="{{ hideHeadersCheckboxName }}" value="true" {% if hideHeaders %}checked{% endif %}>
        <label for="hideHeaders">Hide Headers</label>
        <p id="pConditions" style="display:inline"></p>
        <conditionsTag id="conditionsTag">
            Conditions:
            {% for i in range(selectedColumns|length) %}
                <br>
                {% if i != 0 %}
                    {% with pickerName = logicalConnectionName, pickerElements = logicalConnections, selectedName = selectedLogicalConnections[i], onChangeFunc='highlight(this)' %}
                        {% include 'pickerGen.html' %}
                    {% endwith %}
                    <br>
                {% endif %}
                {% with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)' %}
                    {% include 'pickerGen.html' %}
                {% endwith %}
                {% with pickerName = conditionsPickerName, pickerElements = conditions, selectedName = selectedConditions[i], onChangeFunc='highlight(this)' %}
                    {% include 'pickerGen.html' %}
                {% endwith %}
                {% if inputName %}
                    <input name={{ inputName }} value="{{ selectedStrings[i] }}" onchange="highlight(this)">
                {% endif %}
            {% endfor %}
        </conditionsTag>
        <button type="button" class="btn btn-default" onclick="addFilter()">Add Condition</button>
        <button type="button" class="btn btn-default" onclick="deleteFilters()">Delete All Conditions</button>
        <button type="submit" class="btn btn-default">{{ formButtonText }}</button>
    </form>

    <table class="table table-bordered">
        <tr>
            <th>{{ xName }}<br>-----<br>{{ yName }}</th>
            {% set iterated = [0] %}
            {% for key, value in tableData.items() if iterated[0] < 1 %}
                {% if iterated.append(iterated.pop() + 1) %}{% endif %}
                {% for key1, value1 in value.items() %}
                    <th>{{ key1 }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        {% for key, value in tableData.items() %}
            <tr>
                <td>{{ key }}</td>
                {% for key1, value1 in value.items() %}
                    <td>
                        <div id = "wrap">
                            <table id="dataView" class="table table-bordered">
                                {% if not hideHeaders%}
                                    <thead>
                                    <tr>
                                        {% for i in columnNames %}
                                            <th>{{ meta[i].name }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tbody>
                                <tr>
                                    {% if value1 is not none %}
                                        {% for i in value1%}
                                            <tr>
                                                {% for j in i %}
                                                    <td>{{ j }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

    <script>
        document.getElementById("wrap").addEventListener("scroll", function(){
            console.log('1');
            var translate = "translate(0,"+this.scrollTop+"px)";
            this.querySelector("thead").style.transform = translate;
        });
    </script>
{% endblock %}