{% extends "filtersLayout.html" %}

{% block functions %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $('.showhide').click(function () {
                name = $(this).attr("id");
                console.log(name);
                objects = $(".tohide[id="+name+"]");
                if(objects.hasClass("hided")) {
                    $(this).text('Hide');
                    objects.removeClass('hided');
                }
                else {
                    $(this).text('Show');
                    objects.addClass('hided');
                }
            });
        });
    </script>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            href = Flask.url_for('rowEdit', {editID: data, tableName: "{{ tableName }}",
                xColumnValue: ev.target.getAttribute("data-xName"),yColumnValue: ev.target.getAttribute("data-yName"),xColumnName: "{{ xColumnName }}", dNg:"1", yColumnName: "{{ yColumnName }}",returnURL: "{{ request.url | urlencode}}"});
            window.open(href,"_self");
        }
    </script>
{% endblock %}

{% block content %}
    <form id="filtersForm" class="form-inline" method="GET">
        Choose the x-coordinate grouping:
        {% with pickerName = xGroupingPickerName, pickerElements = pickerElements, selectedName = xName, onChangeFunc='highlight(this)' %}
            {% include 'pickerGen.html' %}
        {% endwith %}
        Choose the y-coordinate grouping:
        {% with pickerName = yGroupingPickerName, pickerElements = pickerElements, selectedName = yName, onChangeFunc='highlight(this)' %}
            {% include 'pickerGen.html' %}
        {% endwith %}
        Visible columns:
        {% with pickerName = visibleColumnsPickerName, pickerElements = pickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)', multiple = 1 %}
            {% include 'pickerGen.html' %}
        {% endwith %}
        <input type="checkbox" id="{{ hideHeadersCheckboxName }}" name="{{ hideHeadersCheckboxName }}" value="true" {% if hideHeaders %}checked{% endif %}>
        <label for="hideHeaders">Hide Headers</label>
        <input type="checkbox" id="{{ hideCellsCheckboxName }}" name="{{ hideCellsCheckboxName }}" value="true" {% if hideCells %}checked{% endif %}>
        <label for="hideCells">Hide Cells</label>
        <p id="pConditions" style="display:inline"></p>
        <conditionsTag id="conditionsTag">
            Conditions:
            {% for i in range(selectedColumns|length) %}
                <br>
                {% if i != 0 %}
                    {% with pickerName = logicalConnectionName, pickerElements = logicalConnections, selectedName = selectedLogicalConnections[i], onChangeFunc='highlight(this)' %}
                        {% include 'pickerGen.html' %}
                    {% endwith %}
                    <br>
                {% endif %}
                {% with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)' %}
                    {% include 'pickerGen.html' %}
                {% endwith %}
                {% with pickerName = conditionsPickerName, pickerElements = conditions, selectedName = selectedConditions[i], onChangeFunc='highlight(this)' %}
                    {% include 'pickerGen.html' %}
                {% endwith %}
                {% if inputName %}
                    <input name={{ inputName }} value="{{ selectedStrings[i] }}" onchange="highlight(this)">
                {% endif %}
            {% endfor %}
        </conditionsTag>
        <button type="button" class="btn btn-default" onclick="addFilter()">Add Condition</button>
        <button type="button" class="btn btn-default" onclick="deleteFilters()">Delete All Conditions</button>
        <button type="submit" class="btn btn-default">{{ formButtonText }}</button>
    </form>
    <table class="table table-bordered">
        {% set cellsCntr = [0] %}
        <tr>
            <th>{{ xName }}<br>-----<br>{{ yName }}</th>
            {% set iterated = [0] %}
            {% set yNames = [] %}
            {% for key, value in tableData.items() if iterated[0] < 1 %}
                {% if iterated.append(iterated.pop() + 1) %}{% endif %}
                {% for key1, value1 in value.items() %}
                    <th>{{ key1 }}</th>
                    {% if yNames.append(key1) %}{% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
        {% set cnt = [0] %}
        {% for key, value in tableData.items() %}
            <tr>
                <td>{{ key }} {% if cellsCntr.append(cellsCntr.pop() + 1) %}{% endif %}</td>
                {% set yCntr = [0] %}
                {% for key1, value1 in value.items() %}
                    <td draggable="true" ondrop="drop(event)" ondragover="allowDrop(event)" id = "tdDrop{{ cellsCntr[0] }}" data-yName = "{{ key }}" data-xName = "{{ yNames[yCntr[0]]}}">
                        {% if cellsCntr.append(cellsCntr.pop() + 1) %}{% endif %}
                        <div id = "wrap">
                            <table {% if value1 is not none %}id="cell{{ cnt[0] }}"{% endif %} class="tohide {% if hideCells %}hided{% endif %} table table-bordered">
                                {% if not hideHeaders and value1 is not none%}
                                    <thead>
                                    <tr>
                                        {% for i in visibleColumnNames %}
                                            <th>{{ meta[i].name }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tbody>
                                <tr>
                                    {% if value1 is not none %}
                                        {% for i in value1%}
                                            <tr draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)" id ="{{ i[i|length-1] }}" data-yName = "{{ key }}" data-xName = "{{ yNames[yCntr[0]] }}">
                                                {% for j in range(i|length-1) %}
                                                    {% if j in visibleColumnNumbers %}<td data-yName = "{{ key }}" data-xName = "{{ yNames[yCntr[0]] }}">{{ i[j] }}</td>{% endif %}
                                                {% endfor %}
                                                <td> {% if cellsCntr.append(cellsCntr.pop() + 1) %}{% endif %}
                                                    <a href ="{{ url_for('rowEdit', editID=i[i|length-1], returnURL=request.url, tableName = tableName) }}">Edit</a></td>
                                                <td> {% if cellsCntr.append(cellsCntr.pop() + 1) %}{% endif %}
                                                    <a href ="{{ url_for('view_table',deleteID=i[i|length-1], tablesPicker=tableName) }}">Delete</a></td>

                                                {% set hasConflicts = [0] %}
                                                <td id="conflicts{{ cellsCntr[0] }}" class="tohide hided">{% for m in conflictsByTypes %}
                                                    {% for z in m.data %}
                                                        {% if z[0][IDposition] == i[i|length-1] %}
                                                            {{ m.label }}
                                                            {% with tableData = z, columnNames = columnNames %}
                                                                {% include 'tableGen-min.html' %}
                                                                {% if hasConflicts.append(hasConflicts.pop() + 1) %}{% endif %}
                                                            {% endwith %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}</td>
                                                {% if hasConflicts[0] > 0 %}<td>Conflicts:<br><a href="#" class="showhide" id="conflicts{{ cellsCntr[0] }}">Show</a></td>{% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr >
                                            <td draggable="true" ondrop="drop(event)" ondragover="allowDrop(event)" data-yName = "{{ key }}" data-xName = "{{ yNames[yCntr[0]]}}" id = "emptyDrop{{ cellsCntr[0] }}"> </td></tr>
                                        {% if cellsCntr.append(cellsCntr.pop() + 1) %}{% endif %}
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                            {% if value1 is not none %}
                                <a href="#" class="showhide" id="cell{{ cnt[0] }}">{% if hideCells %}Show{% else %}Hide{% endif %}</a>
                            {% endif %}
                            {% if cnt.append(cnt.pop() + 1) %}{% endif %}
                        </div>
                    </td>
                    {% if yCntr.append(yCntr.pop() + 1) %}{% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

    <script>
        document.getElementById("wrap").addEventListener("scroll", function(){
            console.log('1');
            var translate = "translate(0,"+this.scrollTop+"px)";
            this.querySelector("thead").style.transform = translate;
        });
    </script>
{% endblock %}