{% extends "layout.html" %}

{% block functions %}
    <script id="filterSource" type="text/html">
        <br>
        {%  with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i] %}
            {% include 'picker.html' %}
        {% endwith %}
        {%  with pickerName = 'condition', pickerElements = conditions %}
            {% include 'picker.html' %}
        {% endwith %}
        {% if inputName %}<input name = {{ inputName }}> {% endif %}
    </script>
    <script>
        function addFilter(ind){
            var filter = document.getElementById('filterSource').innerHTML;
            console.log(filter);
            $("#pConditions").append(filter);
        }
    </script>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <form class="form-inline" method="GET" action="{{ formURL }}">
        {%  with pickerName = tablePickerName, pickerElements = tablePickerElements, selectedName = tableName %}
            View table: {% include 'picker.html' %}
        {% endwith %}
        <br>
        {% if columnPickerElements %}
            Conditions:
            <p id = "pConditions"></p>
            {% for i in range(selectedColumns|length) %}
                <br>
                {%  with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i] %}
                    {% include 'picker.html' %}
                {% endwith %}
                {%  with pickerName = 'condition', pickerElements = conditions, selectedName = selectedConditions[i] %}
                    {% include 'picker.html' %}
                {% endwith %}
                {% if inputName %}<input name = {{ inputName }} value="{{ selectedStrings[i] }}"> {% endif %}
            {% endfor %}
            <button type="button" class="btn btn-default" onclick="addFilter(0)">Add Condition</button>
        {% endif %}
        <button type="submit" class="btn btn-default">{{ formButtonText }}</button>
    </form>
    {{ table }}
    {% if tableName %}
        <div class="container">
            <h2>Viewing table {{ tableName }}:</h2>
            <div class="container" align="center">
                <h3>Select table to view:</h3>
                {% include 'tableGen.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}