<table id="dataView" class="table table-striped">
    <thead>
    <tr>
        {% for i in columnNames %}
            <th>{{ meta[i].name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for i in tableData[(selectedPage|int)*(selectedPagination|int):((selectedPage|int) + 1)*(selectedPagination|int)] %}
        <tr>
            {% set id = [0] %}
            {% for j in range(columnNames|length) %}
                <td class="col-md-{{ meta[columnNames[j]].width }}">{{ i[j] }}</td>
                {% if (meta[columnNames[j]].type == 'key') %}
                    {% if id.append(id.pop() + i[j]) %}{% endif %}
                {% endif %}
            {% endfor %}
            <td class="col-md-2"><a href ="{{ url_for('view_table',deleteID=id[0], tablesPicker=tableName) }}">Delete</a></td>
            <td class="col-md-2"><a href ="{{ url_for('rowEdit', columnNames = columnNames, editID=id[0], tableName = tableName) }}">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<conditionsTag id="conditionsTag">
        Select page:
        {% with pickerName = pagePickerName, pickerElements = range( ((tableData|length) / (selectedPagination | int)) | round(0,'ceil') | int ), selectedName = selectedPage, onChangeFunc="this.form.submit()" %}
            {% include 'pickerGen.html' %}
        {% endwith %}
</conditionsTag>