{% extends "layout.html" %}

{% block functions %}
    <script>
        function highlight(obj){
            console.log('test');
            console.log(obj);
            obj.style.background = "red"
        }
    </script>
    <script id="filterSource" type="text/html">
        <br>
        {%  with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)' %}
            {% include 'picker.html' %}
        {% endwith %}
        {%  with pickerName = 'condition', pickerElements = conditions, onChangeFunc='highlight(this)'%}
            {% include 'picker.html' %}
        {% endwith %}
        {% if inputName %}<input name = {{ inputName }} onchange="highlight(this)"> {% endif %}
    </script>
    <script>
        function addFilter(){
            var filter = document.getElementById('filterSource').innerHTML;
            console.log(filter);
            $("#conditionsTag").append(filter);
        }
        function deleteFilters(){
            $('conditionsTag').each(function(){
                $(this).remove();
            });
            $("#pConditions").append("<conditionsTag id = \"conditionsTag\"></conditionsTag>");
            form = document.getElementById('filtersForm');
            form.submit();
        }
    </script>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <form id = "filtersForm" class="form-inline" method="GET" action="{{ formURL }}">
        {%  with pickerName = tablePickerName, pickerElements = tablePickerElements, selectedName = tableName, onChangeFunc = 'deleteFilters()'%}
            View table: {% include 'picker.html' %}
        {% endwith %}
        <br>
        {% if columnPickerElements %}
            Conditions:
            <p id = "pConditions"></p>
            <conditionsTag id = "conditionsTag">
                {% for i in range(selectedColumns|length) %}
                    <br>
                    {%  with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)' %}
                        {% include 'picker.html' %}
                    {% endwith %}
                    {%  with pickerName = conditionsPickerName, pickerElements = conditions, selectedName = selectedConditions[i], onChangeFunc='highlight(this)' %}
                        {% include 'picker.html' %}
                    {% endwith %}
                    {% if inputName %}<input name = {{ inputName }} value="{{ selectedStrings[i] }}" onchange="highlight(this)"> {% endif %}
                {% endfor %}
            </conditionsTag>
            <button type="button" class="btn btn-default" onclick="addFilter()">Add Condition</button>
        {% endif %}
        <button type="submit" class="btn btn-default">{{ formButtonText }}</button>
    </form>
    {{ table }}
    {% if tableName %}
        <div class="container">
            <h2>Viewing table {{ tableName }}:</h2>
            <div class="container" align="center">
                <h3>Select table to view:</h3>
                {% include 'tableGen.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}