{% extends "filtersLayout.html" %}

{% block content %}

    <form id="filtersForm" class="form-inline" method="GET">

        <div id="addIntoTableModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add values into table</h4>
                    </div>
                    <div class="modal-body">
                        {% for i in tableColumns %}
                            {{ i }}
                            <input name={{ addIntoTableInputsName }}>
                            <br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add values</button>
                    </div>
                </div>
            </div>
        </div>

        {% with pickerName = tablePickerName, pickerElements = tablePickerElements, selectedName = tableName, onChangeFunc = 'deleteFilters()' %}
            View table: {% include 'pickerGen.html' %}
        {% endwith %}
        <p id="pConditions" style="display:inline"></p>
        <conditionsTag id="conditionsTag">
            Order by:
            {% with pickerName = orderPickerName, pickerElements = columnPickerElements, selectedName = selectedOrder, onChangeFunc='highlight(this)' %}
                {% include 'pickerGen.html' %}
            {% endwith %}
            {% with pickerName = paginationPickerName, pickerElements = paginationPickerElements, selectedName = selectedPagination, onChangeFunc='resetPage()' %}
                Show {% include 'pickerGen.html' %} entries
            {% endwith %}
            <br>
            Conditions:
            {% for i in range(selectedColumns|length) %}
                <br>
                {% if i != 0 %}
                    {% with pickerName = logicalConnectionName, pickerElements = logicalConnections, selectedName = selectedLogicalConnections[i], onChangeFunc='highlight(this)' %}
                        {% include 'pickerGen.html' %}
                    {% endwith %}
                    <br>
                {% endif %}
                {% with pickerName = columnPickerName, pickerElements = columnPickerElements, selectedName = selectedColumns[i], onChangeFunc='highlight(this)' %}
                    {% include 'pickerGen.html' %}
                {% endwith %}
                {% with pickerName = conditionsPickerName, pickerElements = conditions, selectedName = selectedConditions[i], onChangeFunc='highlight(this)' %}
                    {% include 'pickerGen.html' %}
                {% endwith %}
                {% if inputName %}
                    <input name={{ inputName }} value="{{ selectedStrings[i] }}" onchange="highlight(this)">
                {% endif %}
            {% endfor %}
        </conditionsTag>
        <button type="button" class="btn btn-default" onclick="addFilter()">Add Condition</button>
        <button type="button" class="btn btn-default" onclick="deleteFilters()">Delete All Conditions</button>
        <button type="submit" class="btn btn-default">{{ formButtonText }}</button>
        {{ table }}
        {% if incorrectQuery == 1 %}
            <br><br>
            <div class="alert alert-warning">
                <center><strong>Incorrect Query!</strong> Try Again.</center>
            </div>
        {% else: %}
            <br>
            {% if tableData is defined %}
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addIntoTableModal">Add values
                </button>
                <div class="container">
                    <div class="container" align="center">
                        {% with tableData = tableData %}
                            {% include 'tableGen.html' %}
                        {% endwith %}
                    </div>
                </div>
            {% endif %}
            </form>
        {% endif %}
{% endblock %}